
EzStream/bin/Debug/netcoreapp3.1/Data/Channels.txt
EzStream/bin/Debug/netcoreapp3.1/EzStreaming.dll
EzStream/bin/Debug/netcoreapp3.1/Data/ffmpeg.exe
EzStream/bin/Debug/netcoreapp3.1/EzStreaming.exe
EzStream/obj/Debug/netcoreapp3.1/EzStreaming.csproj.FileListAbsolute.txt
EzStream/obj/Debug/netcoreapp3.1/EzStreaming.g.resources
EzStream/obj/Debug/netcoreapp3.1/EzStreaming.dll
EzStream/obj/Debug/netcoreapp3.1/EzStreaming.genruntimeconfig.cache
EzStream/obj/Debug/netcoreapp3.1/EzStreaming.pdb
EzStream/obj/Debug/netcoreapp3.1/EzStreaming_MarkupCompile.cache
EzStream/obj/Debug/netcoreapp3.1/EzStreaming_MarkupCompile.lref
EzStream/obj/Debug/netcoreapp3.1/MainWindow.baml
EzStream/obj/Debug/netcoreapp3.1/MainWindow.g.cs
EzStream/obj/Debug/netcoreapp3.1/NewAcc.baml
EzStream/obj/Debug/netcoreapp3.1/NewAcc.g.cs
EzStream/obj/Debug/netcoreapp3.1/Start.baml
EzStream/obj/Debug/netcoreapp3.1/Start.g.cs
